<%= provide(:page_title, "Edit #{@staff.first_name.capitalize+' '+@staff.last_name.capitalize}")%>
<%= provide(:staff_active, "activelink")%>

<%= render 'form', staff: @staff, url: staff_path( @staff) %>

<%= link_to 'Cancel', staffs_path, class: "w3-btn w3-round w3-left"%>
</div>
</div>
