  <div class="w3-container">
    <div class="w3-container">
      <h4>Guardian Details</h4>
    </div>
  </div>

  <div >
  <%= render 'form', guardian: @guardian, student: @student %>

  </div>

</div>
