<fieldset class="w3-margin-top">
  <legend class="w3-label"><b>New Programme</b></legend>

  <div class="w3-round w3-theme-l4">
    <%= render 'form', programme: @programme %>
    <%= link_to 'Cancel', programmes_path, class: "w3-btn w3 w3-round w3-left w3-margin-bottom" %>

    </div>

  </div>

</fieldset>
