<%= provide(:page_title, "Create House")%>
<%= provide(:settings_active, "activelink")%>

<div class="w3-panel w3-light-gray w3-small">
  <%= render 'form', admin_house: @admin_house %>

  <%= link_to 'Back', admin_houses_path, class: "w3-btn w3-round" %>

      </div>
    </div>
  </div>

</fieldset>
</div>
