<%= provide(:page_title, "Add Guardian")%>
<%= provide(:students_active, "activelink")%>

<div class="w3-panel w3-round-large w3-light-gray">
  <%= render 'guardian_form', guardian: @guardian, url: create_guardian_admin_student_path %>

  <%= link_to 'Skip', admin_student_path, class: "w3-btn w3-round w3-left w3-margin-top" %>
  </div>
</div>
