<%= provide(:page_title, "Manage Staff Members")%>
<%= provide(:staff_active, "active")%>

<div class="w3-container">
  <div class="w3-row-padding">
    <div class="w3-col m6 w3-panel ">
      <strong><%= link_to "Add Staff Member", new_staff_path%></strong><br>
      Admit new staff members
    </div>

    <div class="w3-col m6 w3-panel ">
      <strong><%= link_to "Staff Lessons", ""%></strong><br>
      Assign lessons to staff members
    </div>
  </div>

</div>
