<%= provide(:page_title, "New staff")%>
<%= provide(:staff_active, "active")%>

<%= render 'form', staff: @staff %>

<%= link_to 'Cancel', staffs_path, class: "w3-btn w3-round  w3-left w3-margin-top"%>
</div>
</div>
