<%= provide(:page_title, "Dashboard".html_safe)%>
<%= provide(:dashboard_active, "activelink")%>
<%= provide(:page_icon, "#{content_tag(:i, '', :class => ("fa fa-dashboard"))} ".html_safe)%>
<h2>Hello Dashboard</h2>
