<h4>New Department</h4>

<fieldset class="w3-round">
  <%= render 'form', department: @department %>

  <%= link_to 'Back', departments_path, class: "w3-btn w3-round w3-left" %>
  </div>

</fieldset>
