<%= provide(:page_title, "New staff Department")%>
<%= provide(:staff_active, "activelink")%>

<%= render 'form', staff_department: @staff_department, url: admin_staff_departments_url %>

<%= link_to 'Cancel', admin_staff_departments_path, class: "w3-btn w3-round w3-left w3-margin-right" %>

  </div>
