<%= provide(:page_title, "New staff Department")%>
<%= provide(:staff_active, "activelink")%>

  <fieldset class="w3-panel w3-round-large w3-card-2 w3-light-gray w3-small">
    <legend class="w3-container w3-padding">
      <a href="javascript:void();" onclick="$('#newDepartment').toggle(300);"><b>New Staff Department</b> <i class="fa fa-caret-down"></i></a>
    </legend>
  <div id="newDepartment">
    <%= render 'form', staff_department: @staff_department, url: admin_staff_departments_url %>
    <%= link_to 'Cancel', admin_staff_departments_path, class: "w3-btn w3 w3-round w3-left w3-margin-bottom" %>
    </div>
  </div>
  </fieldset>
