<div class="w3-panel w3-light-gray w3-round-large">
  <%= render 'form', search_guardian: @search_guardian, url: admin_search_guardians_path%>

  <%= link_to 'Back', admin_search_guardians_path, class: "w3-btn w3-round w3-tiny w3-left" %>
  </div>
</div>
</fieldset>
</div>
