<%= provide(:page_title, "New staff")%>
<%= provide(:staff_active, "activelink")%>

<%= render 'form', staff: @staff, url: admin_staffs_url %>

  <%= link_to 'Cancel', admin_staffs_path, class: "w3-btn w3-round  w3-left"%>
  </div>
</div>
