<%= provide(:page_title, "Edit Staff Position")%>
<%= provide(:staff_active, "activelink")%>

  <%= render 'form', staff_position: @staff_position, url: admin_staff_position_path(@staff_position) %>

  <%= link_to 'Cancel', admin_staff_positions_path, class: "w3-btn w3-round w3-left w3-margin-right" %>
  </div>
