<%= provide(:page_title, "New Staff Position")%>
<%= provide(:staff_active, "active")%>


  <%= render 'form', staff_position: @staff_position %>

  <%= link_to 'Back', staff_positions_path, class: "w3-btn w3-round w3-left" %>
  </div>
