<%= provide(:page_title, "Edit Staff Grade")%>
<%= provide(:staff_active, "active")%>

<fieldset class="w3-round">
  <legend><strong>Staff Grade Details</strong></legend>

  <%= render 'form', staff_grade: @staff_grade %>

  <%= link_to 'Back', staff_grades_path, class: "w3-btn w3-round w3-left" %>
  </div>

</fieldset>
