<%= provide(:page_title, "New Staff Grade")%>
<%= provide(:staff_active, "active")%>

  <%= render 'form', staff_grade: @staff_grade %>

  <%= link_to 'Back', staff_grades_path, class: "w3-btn w3-round w3-left" %>
  </div>
