header{
  background: #272822;
  color: white;
}
#nav-wrapper{
  position: relative;
  max-width: 980px;
  min-width: 980px;
  margin: auto auto auto auto;
}

footer{
  position: relative;
  max-width: 980px;
  min-width: 980px;
  margin: auto auto auto auto;
}
#content-wrapper{
  position: relative;
  max-width: 980px;
  min-width: 980px;
  margin: 100px auto auto auto;
  padding-left: 30px;
  min-height: 500px;
  border-radius: 5px;
}
.active{
  font-weight: bold;
}

#admin_menu{
  float: left;
}
a {
  text-decoration: none;
}

.w3-input{
  max-height: 25px !important;
  max-width: 300px !important;
  padding: 1px !important;
  background: #F2F1F0
}

.w3-select{
  max-height: 25px !important;
  max-width: 298px !important;
  padding: 1px !important;
}

.small-form{
  // max-width: 500px;
}

.date-select{
  max-width: 95px !important;
}
