body{
  background: #F5F5F5
}
#nav-wrapper{
  position: relative;
  max-width: 980px;
  min-width: 980px;
  margin: auto auto auto auto;
}


.w3-input{
  max-width: 300px !important;
  max-height: 25px !important;
  padding: 1px !important;
  background: #F2F1F0;
}

.w3-select{
  max-width: 298px !important;
  max-height: 25px !important;
  padding: 1px !important;
}

fieldset{
  color: inherit;
}

.date-select{
  max-width: 95px !important;
}

#main-content{
  padding-right: 5%;
}

#menu-bar-icon {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
}
