
fieldset{
  border: none;
  legend a{
    text-decoration: none;
  }
  a:hover{
    color: blue;
  }
}

.date-select{
  max-width: 95px !important;
}

.main{
  max-width: 980px;
  margin: 0px auto 0px auto;
}

.img-frame{
  width: 100px;
  height: 100px;
  border: 2px solid teal;
}

.field_with_errors input{
  color: #AA0000;
  border: 1px solid red;
}


.caret{
  display: inline-block;
  vertical-align: middle;
}
.center-position{
  position: relative;
  margin: auto auto auto auto;
  max-width: 980px;
}

#searchTable{
  .w3-input{
    max-width: 100px !important;
  }
}
.current-column {
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 12px;
}
.asc{
  background-image: image-url("asc.gif");
}
.desc{
  background-image: image-url("desc.gif");
}
