#navbar{
  position: relative;
  max-width: 980px;
  margin: auto auto auto auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  a:hover{
    background: none;
    color: black;
  }
}
.sub-menu{
  position: relative;
  max-width: 980px;
  margin: auto auto auto auto;
}
.activelink{
  background: #2E6830 !important;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
