.w3-top{
  .head{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 0px !important;
  }
  .menu{
    border-top: 0.2px solid #ccc;
    li{
      margin-top: 5px;
      padding: 2px 10px 0px 10px;
      a{
        font: bold;
      }
      a:hover{
        background: #6ec071;
        color: inherit;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .activelink:hover{
        background: #2E6830;
      }
      .activelink{
        background: #2E6830;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }
  .menu-tab{
    a{
      border-right: 0.2px solid #ccc;
      padding: 3px 15px 3px 15px;
    }
    a:hover{
      background: inherit;
      color: inherit;
    }
  }
}

#user-profile{
  a:hover{
    background-color: #2E6830 !important;
    color:black;
  }
}
table{
  th{
    background-color: #F1F1F1 !important;
    color: black;
  }
}
button.activelink{
  background-color: #ECECEC;
}
.w3-accordion-content{
  background-color: #ECECEC;
}
.w3-dropdown-hover{
  a:hover{
    background: none;
  }
}
