  #page-content{
    position: relative;
    max-width: 980px;
    margin: 100px auto auto auto;
  }
  #page-footer{
    position: relative;
    max-width: 980px;
    margin: auto auto auto auto;
  }
