<%= provide(:page_title, "Houses")%>
<%= provide(:settings_active, "activelink")%>

<table class="w3-table-all w3-small">
  <thead>
    <tr>
      <th>Name</th>
      <th>Capacity</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render @houses %>
  </tbody>
</table>
<%= link_to "#{content_tag(:i, '', :class => ("fa fa-plus"))}".html_safe, new_admin_house_path, class: "w3-right"%>
