<% if msg.present? %>
  <div class="w3-panel w3-tiny w3-round w3-theme-l2 center-position" id="msg-pl">
    <span onclick="$('#msg-pl').hide();" class="w3-closebtn">&times;</span>
    <p><%= msg %></p>
  </div>
<% end %>
