<li class="w3-padding-8 active"><a href="#">Students</a></li>
<li class="w3-padding-8 active"><a href="#">Teachers</a></li>
<li class="w3-padding-8 active"><a href="#">Classes</a></li>
<li class="w3-padding-8 active"><a href="#">Setup</a></li>
