<li class="w3-padding-8"><a href="#">Students</a></li>
<li class="w3-padding-8"><a href="#">Teachers</a></li>
<li class="w3-padding-8"><a href="#">Classes</a></li>
<li class="w3-padding-8"><a href="#">Setup</a></li>
